.sidebar,
.app {
    display: none;
}

.app {
    margin: 10px;
    width: 100%;
}

.app-scroll {
    overflow-y: scroll !important;
}

.app-bar {
    display: flex;
    justify-content: end;
}

.app-knot {
    width: 200px;
    display: flex;
    justify-content: end;
    background: var(--ancient-color);
    align-items: center;
    text-transform: capitalize;
}

.app-window-name {
    color: var(--main-text-dark);
    font-weight: bolder;
    margin-right: 10px;
}

.app-btn {
    height: 30px;
    width: 30px;
    background: var(--main-bg);
    color: aliceblue;
    font-weight: bold;
    border: solid 2px var(--ancient-color);
}

.app-btn:hover {
    background: var(--main-hover);
}

.app-btn .app-active {
}

.app-toolbar {
    display: block !important;
}
