:root {
    --main-color: #ffe500;
    --main-bg: black;
    --main-text: aliceblue;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: monospace;
    background-image: url("../wallpapers/wp1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

header {
}

.start-menu {
    background: var(--main-color);
    height: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.taskbar-btn {
    height: 35px;
    width: 35px;
    background-color: var(--main-bg);
    color: aliceblue;
    font-weight: bold;
    border: solid 2px var(--main-color);
}

.taskbar-btn:hover {
    background-color: var(--main-color);
    color: var(--main-bg);
    border: solid 2px var(--main-bg);
}

.main_apps_menu {
    width: 54px;
    height: 40px;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    background-color: var(--main-bg);
    border: solid 2px var(--main-color);
    font-weight: bolder;
}

.main_apps_menu:hover {
    background-color: red;
}

.search-btn {
    border: none;
    height: 30px;
    width: 60px;
    background-color: var(--main-bg);
    color: aliceblue;
    font-weight: bold;
    border-left: solid 2px var(--main-color);
}

.search-btn:hover {
    background-color: red;
}

.search-input {
    height: 30px;
    width: 30vw;
    border: none;
    background: black;
    color: aliceblue;
    padding: 0px 10px 0px 10px;
}

.search-bar {
    align-items: center;
}

.search-bar button {
    margin-right: 10px;
    height: 30px;
}

.main-ctn {
    display: flex;
}

.boxed-window {
    border: solid 5px var(--main-color);
    height: 85vh;
    padding: 5px;
}

main {
    width: 100%;
    height: 94vh;
    display: flex;
    margin: 15px;
    border: solid 2px var(--main-color);
    box-shadow: 10px 10px var(--main-color);
}

.sidebar {
    width: 360px;
    border-right: solid 2px var(--main-color);
    backdrop-filter: blur(10px);
}

.clock-widget {
    text-align: center;
    margin: 20px;
    font-family: "Courier New", Courier, monospace;
}

.btn-ctn {
    margin-top: 40px;
    margin-left: 20px;
}

.btn-some {
    width: 100%;
    max-width: 260px;
    height: 30px;
    text-align: left;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    margin-top: 10px;
    color: black;
    border: none;
    background-image: url("../assets/1.png");
    background-color: var(--main-color);
}

.btn-some:hover {
    background-image: url("../assets/3.png");
    margin-left: 10px;
}

.cyber {
    max-width: 90%;
    margin: 0 auto;
}

.cyber img {
    max-width: 100%;
    margin-top: 50px;
    border-radius: 100%;
}

.content {
    overflow: hidden !important;
    font-size: 15px;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.sidebar,
.app {
    display: none;
}
