:root {
    --main-color: #ffe500;
    --main-bg: black;
    --main-text: aliceblue;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-bg);
    background-image: url("./assets/bg.png");
    color: var(--main-text);
    font-family: monospace;
}

header {
}

.search {
    background: var(--main-color);
    height: 50px;
    margin: 20px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

nav button {
    border: none;
    height: 30px;
    width: 60px;
    background-color: var(--main-bg);
    color: aliceblue;
    font-weight: bold;
    border-left: solid 2px var(--main-color);
}

nav button:hover {
    background-color: red;
}

nav input {
    height: 30px;
    width: 30vw;
    border: none;
    background: black;
    color: aliceblue;
    padding: 0px 10px 0px 10px;
}

.search-bar {
    align-items: center;
}

.search-bar button {
    margin-right: 10px;
    height: 30px;
}

.main-ctn {
    display: flex;
}

main {
    width: 100%;
    height: 88vh;
    display: flex;
    margin: 20px;
    border: solid 2px var(--main-color);
    box-shadow: 12px 12px var(--main-color);
    background-image: url("assets/cpy.webp");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.sidebar {
    width: 20vw;
    min-width: 300px;
    max-width: 500px;
    border-right: solid 2px var(--main-color);
}

.clock {
    text-align: center;
    margin: 20px;
    font-family: "Courier New", Courier, monospace;
}

.btn-ctn {
    margin-top: 40px;
    margin-left: 20px;
}

.btn-some {
    width: 100%;
    max-width: 260px;
    height: 50px;
    text-align: left;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    margin-top: 10px;
    color: black;
    border: none;
    background-image: url("assets/1.png");
    background-color: var(--main-color);
}

.btn-some:hover {
    background-image: url("assets/3.png");
    margin-left: 10px;
}

.cyber {
    max-width: 90%;
    margin: 0 auto;
}

.cyber img {
    max-width: 100%;
}

.content {
    padding: 40px;
    overflow-y: scroll;
    font-size: 15px;
}
